@model VehicleRepairShop.Models.AppointmentVehicleServiceViewModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Appointment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Appointment.ScheduledDate" class="control-label"></label>
                <input asp-for="Appointment.ScheduledDate" class="form-control" />
                <span asp-validation-for="Appointment.ScheduledDate" class="text-danger"></span>
            </div>
            @*<div class="form-group">
            <label asp-for="Appointment.VehicleId" class="control-label"></label>
            <input asp-for="Appointment.VehicleId" class="form-control" />
            <span asp-validation-for="Appointment.VehicleId" class="text-danger"></span>
        </div>*@
            @Html.HiddenFor(model => model.Appointment.VehicleId)
            @Html.HiddenFor(model => model.Appointment.UserId)
            @*<div class="form-group">
                <label asp-for="Appointment.UserId" class="control-label"></label>
                <input asp-for="Appointment.UserId" class="form-control" />
                <span asp-validation-for="Appointment.UserId" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="Vehicle" class="control-label"></label>
                <input asp-for="Vehicle" class="form-control" value="@(Model.Vehicle.Make)">
            </div>

            <div class="form-group">
                <label asp-for="User" class="control-label"></label>
                <input asp-for="User" class="form-control" value="@(Model.User.UserName)">
            </div>
            <div class="form-group">
                <label asp-for="VehicleServices" class="control-label"></label>
                <select asp-for="VehicleServices" class="form-control" asp-items="@(new SelectList(Model.VehicleServices, "Id", "Name"))"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
