@model VehicleRepairShop.Models.AppointmentVehicleServiceViewModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Appointment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Appointment.ScheduledDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Appointment.ScheduledDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Appointment.Vehicle)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Appointment.Vehicle.FullName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Appointment.User)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Appointment.User.FullName)
        </dd>
        <dt class="col-sm-2">
            Services
        </dt>
        <dd class="col-sm-10">
            @(string.Join(", ", Model.VehicleServices.Select(s => s.Name.ToArray())))
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Appointment.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
