@model IEnumerable<VehicleRepairShop.Models.Appointment>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ScheduledDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VehicleId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vehicle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
    <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ScheduledDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VehicleId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
            <td>
                @(item.Vehicle.Make + " " + item.Vehicle.Model)
            </td>
            <td>
                @(item.User.FirstName + " " + item.User.LastName)

            </td>
            <td>
                <button class="btn btn-info" onclick="location.href='@(Url.Action("Details", "Appointments", new { id = item.Id }))'">Details</button>
                @if (User.IsInRole(Constants.Roles.Admin))
                {
                <button class="btn btn-info" onclick="location.href='@(Url.Action("Edit", "Appointments", new { id = item.Id }))'">Edit</button>
                <button class="btn btn-danger" onclick="location.href='@(Url.Action("Delete", "Appointments", new { id = item.Id }))'">Delete</button>
                }
            </td>

</tr>
}
    </tbody>
</table>
