@model IEnumerable<VehicleRepairShop.Models.Vehicle>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Make)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AcceptedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsInShop)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OwnerId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Make)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AcceptedDate)
            </td>
            <td>
                @(item.IsInShop ? "Yes" : "No")
            </td>
            <td>
                @(item.Owner.FirstName + " " + item.Owner.LastName)
            </td>
            <td>
                <button class="btn btn-info" onclick="location.href='@(Url.Action("Edit", "Vehicles", new { id = item.Id }))'">Edit</button>
                <button class="btn btn-info" onclick="location.href='@(Url.Action("Details", "Vehicles", new { id = item.Id }))'">Details</button>
                <button class="btn btn-danger" onclick="location.href='@(Url.Action("Delete", "Vehicles", new { id = item.Id }))'">Delete</button>
                <button class="btn btn-info" onclick="location.href='@(Url.Action("Create", "Appointments", new { vehicleId = item.Id }))'">Create Appointment</button>
            </td>
        </tr>
}
    </tbody>
</table>


