@model IEnumerable<VehicleRepairShop.Models.UserViewModel>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(m => m.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.Type)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                <button class="btn btn-info" onclick="location.href='@(Url.Action("Edit", "Users", new { id = item.Id }))'">Edit</button>
                <button class="btn btn-info" onclick="location.href='@(Url.Action("Details", "Users", new { id = item.Id }))'">Details</button>
                <button class="btn btn-danger" onclick="location.href='@(Url.Action("Delete", "Users", new { id = item.Id }))'">Delete</button>
            </td>
        </tr>
        }
    </tbody>
</table>
